@import url("components/avatar.css");
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Libre+Franklin:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa+One&display=swap');
body{
    font-size: 16px;
    font-family: 'Libre Franklin', sans-serif;
    background-color:#22272e ;
    color: #FAFAFA;
    width: 1026px;
    margin: auto;
}
p i{
    font-size: 26px;
}

.subtitulo{
    font-family: 'Changa One', cursive;
}

p img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.nombre-curso{
    width: 210px;
}

.descr{
    width: 236px;
}
h4,h3{
    color: #22272e;
}
td,th{
    color: #FAFAFA;
}